env.py
venv/*
__pycache__/*
static/css/bootstrap.min.css
static/js/bootstrap.bundle.min.js
static/js/jquery.js
.vscode/*
static/js/datatables.min.js
static/css/datatables.min.css
static/DataTables
static/css/bootstrap.min.css.map
static/js/bootstrap.bundle.min.js.map
