.table-hover:hover {
    filter: brightness(110%);
}

.cellTable td {
    line-height: 25px;
    min-height: 25px;
    height: 60px;
    /* min-width: 55px; */
    padding: 0;
}

.tabletext{
    font-size: 15px;
}

td a {
    margin-top: auto;
    text-align: center;
    display: block;
    height: 100%;
    font-size: 3vmin;
    text-decoration: none;
}

.valueHeading {
    width: 100px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

#palletTable th{
    width: 210px;
}

td a div{
    padding-top: 15px;
}

.dropdown-item{
    font-size: 2rem;
}

.legendSample{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.legendSample:hover{
    filter: brightness(90%);
}

.darkenCell {
    filter: opacity(0.30);
}

div#loading {
    width: 500px;
    height: 405px;
    display: none;
    background: url(/static/images/loading.gif) no-repeat;
    cursor: wait;
}
