.table-hover:hover {
    background-color: rgba(0,0,0,.095);
}

#cellTable td {
    line-height: 25px;
    min-height: 25px;
    height: 75px;
    min-width: 90px;
    padding: 0;
}

.tabletext{
    font-size: 15px;
}

td a {
    margin-top: auto;
    text-align: center;
    display: block;
    height: 100%;
    font-size: 15px;
    text-decoration: none;
}

.valueHeading {
    width: 100px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

#palletTable th{
    width: 210px;
}

td a div{
    padding-top: 20px;
}

.borderLeft {
    border-left: 5px;
}

.dropdown-item{
    font-size: 2rem;
}

.legendSample{
    width: 50px;
    height: 20px;
    border-radius: 15px;
    align-content: center;
}

#legendTable{
    width: 400px;
}

#legendTableColour{
    width: 100px
}