<!DOCTYPE html>
<!-- 
    The base.html is the html page where all pages will be inserted into. how it works is all other templates will have an extends that references
    this page. The original template then gets inserted into where the block content is located on this page.
-->
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- favicon -->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <!-- css to make bootstrap function -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
        <!-- JQuery used in many pages -->
        <script type=text/javascript src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <!-- overall custom stylesheet -->
        <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/style.css') }}" />
        <!-- importing css for custom icon library -->
        <link href="{{ url_for('static', filename='fontawesome-free-6.0.0-web/css/all.min.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='fontawesome-free-6.0.0-web/css/fontawesome.min.css') }}" rel="stylesheet" />
        <!-- some pages will sometimes have custom css in them, so they can be passed to here to be rendered before the elements they are affecting -->
        {% block extracss %}{% endblock %}
        <title>{% block title %} {% endblock %}</title>
    </head>

    <!-- main body of the app -->
    <body class="d-flex flex-column min-vh-100 ">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-success">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('home_page') }}">
                    <img src="/static/images/meade_farm_logo.png" alt="" width="80" height="44" class="d-inline-block align-text-middle">
                    Fridge Viewer
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('home_page') }}">Select Location</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('search_page') }}">Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('map_page') }}">Map</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- where all the content goes -->
        <main role="main" class="container">
            <!-- varible messages being assigned with all the messages gotten from the get_flashed_messages command -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                <!-- if messages are present -->
                {% if messages %}
                    <!-- loop throguh each message -->
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} mt-2">
                            <!-- display the message -->
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <!-- open the block that will have all the content of a specific page -->
            {% block content %} 
            
            {% endblock %}
        </main>
        <footer class="text-center text-white bg-success mt-auto">
            <div class="text-center p-3">
                © 2021 Copyright: Meade Potato Company
            </div>
        </footer>

        <!-- <link rel="stylesheet" type="text/css" href="/static/css/datatables.min.css"/> -->

        <!-- <script type="text/javascript" src="/static/js/datatables.min.js"></script> -->
        
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <!-- Similar to how and why the custom css exists -->
        {% block extrajs %}{% endblock %}
    </body>
</html>