{% extends 'base.html' %}
{% block title %}
Home Page
{% endblock %}
{% block content %}
<br />
<!-- <img src="../static/images/mpc_logo.jpg" class="rounded mx-auto d-block" alt="MPC Logo" /> -->
<h1 class="text-center">Select Location:</h1>

<div class="row">
	<div class="col-sm">
		<div class="d-grid gap-3">
			{% for key, value in locations.items() %}
				{% if value["location"] != None %}
					{% if value["tableType"] == "2d" %}
						<a class="btn btn-lg btn-success" href="{{ url_for('location_page', location_id=key )}}">{{ value["name"]}}</a>
					{% endif %}
				{% endif %}
			{% endfor %}
			<div class="gap-3"></div>
		</div>
	</div>
	
	<div class="col-sm">
		<div class="d-grid gap-3">
			{% for key, value in locations.items() %}
				{% if value["location"] != None %}
					{% if value["tableType"] == "3d" %}
						<a class="btn btn-lg btn-success" href="{{ url_for('location_page', location_id=key, rack_id = '1' )}}">{{ value["name"]}}</a>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
<br/>
{% endblock %}