{% extends 'base.html' %}
{% block title %} Location Page {% endblock %} 
{% block content %}
{% from 'macros.j2' import table %}

{% set rack_num = "{:02d}".format(rack_id| int)|string %}

{% if locdet["tableType"] == "2d" %}
	{% set columns = locdet["tableSize"][0] %}
	{% set loc_id = locdet["id"] %}
	{% set cell_location = locdet['id'] %}
{% else %}
	{% set columns = locdet["tableSize"][2] %}
	{% set loc_id = locdet["id"][0] + locdet["id"][-1] %}
	{% set cell_location = locdet['id']+'-'+rack_id %}
{% endif %}
<br/>

<!-- Text -->
<ul class="list-inline">
	<li class="list-inline-item">
		<a href="{{ url_for('home_page')}}" 
        class="btn btn-success btn-lg" tabindex="-1" role="button" aria-disabled="true"><i class="fas fa-angle-left"></i>&#8592;Back</a>
	</li>
	<li class="list-inline-item">
		<h2>{{ locdet["name"] }}&emsp;</h2>
	</li>
	{% if rack_id != none and (locdet["tableSize"][0] != 0 and locdet["tableSize"][2] != 0) %}
		<li class="list-inline-item">
				<h3>Rack {{ rack_num }}&emsp;</h3>
		</li>
	{% endif %}
	<li class="list-inline-item">
		<img src="/static/images/{{ locdet['id'] }}/{{ rack_num }}.png" height="140" alt="miniMap">
	</li>
</ul>

<!-- Dropdown for rack select -->
{% if locdet['tableType'] == "3d" %}
		<div class="dropdown">
			<button class="btn btn-success btn-lg dropdown-toggle" type="button" id="rackSelectButton" data-bs-toggle="dropdown" aria-expanded="false">
				Select a Rack
			</button>
			<ul class="dropdown-menu dropdown-large border" aria-labelledby="rackSelectButton" id="rackSelect">
				{% for n in range(locdet["tableSize"][0]) %}
					<li><a class="dropdown-item border" href="{{ url_for('location_page', location_id=locdet['id'], rack_id = loop.index )}}">Rack {{ loop.index }}</a></li>
				{% endfor %}
			</ul>
		</div>
{% endif %}
<br/>

<!-- If no table to diplay -->
{% if not (locdet["tableSize"][0] == 0 and locdet["tableSize"][2] == 0) %}

	<!-- Legend: -->
	<div class="container">
		<div class="row" id="legendDisplay">
		
		</div>
	</div>

	{% set rack_add = 0 %}
	{% set table_num = "cellTable1" %}


<!-- Table(s) -->
	{% if locdet["tableType"] == "2d" %}

		{{ table(rack_id, locdet, columns, loc_id, cell_location, rack_num, alphabet, rack_add, table_num) }}

		{% set rack_add = columns/2 %}
		{% set table_num = "cellTable2" %}
		{{ table(rack_id, locdet, columns, loc_id, cell_location, rack_num, alphabet, rack_add, table_num) }}

	{% else %}
		{{ table(rack_id, locdet, columns, loc_id, cell_location, rack_num, alphabet, rack_add, table_num) }}
	{% endif %}
{% endif %}

<!-- Bay(s) -->
{% if locdet["bays"]|length != 0 %}
	{% for bay in locdet["bays"] %}
		<h2>{{bay}}</h2>
		{% if bay["pallets"]|length > 0 %}
			<p>Things are here test</p>
		{% else %}
			<h5>No pallets found.</h5>
		{% endif %}
	{% endfor %}
{% endif %}

<!-- Time Updated -->
<h6 class="text-muted">
	Last Updated: 
	<li class="list-inline-item">
		<div id="updatedTime"></div>
	</li>
</h6>

<!-- Data about location and current settings -->
<meta id="my-data" data-loc="{{ loc_id }}" data-rack="{{ rack_num }}" data-currentfilter="">

{% endblock %}

{% block extrajs %}
<script src="{{ url_for('static', filename='js/tableRefresh.js') }}"></script>
{% endblock %}



