{% extends 'base.html' %}
{% block title %} Location Page {% endblock %} 
{% block content %}
<!-- importing blocks of code to this page from the file macros.j2 -->
{% from 'macros.j2' import table, PHS1Table, PLTTable %}

<!-- getting the rack number in the format of '00' or '01' etc -->
{% set rack_num = "{:02d}".format(rack_id| int)|string %}

<!-- set values for the macro tables based on what table type is given -->
<!-- typically, if a table is '2d' they will have 2 tables to show all the racks. they will be in format FVFR1-A-01  -->
<!-- and the 3d tables will have one table showing but will have a dropdown to allow you to select which rack to display -->
{% if locdet["tableType"] == "2d" %}
	{% set columns = locdet["tableSize"][0] %}
	{% set loc_id = locdet["id"] %}
	{% set cell_location = locdet['id'] %}
	{% set image_link = locdet['id'] %}
{% else %}
	{% set columns = locdet["tableSize"][2] %}
	{% set loc_id = locdet["id"][0] + locdet["id"][-1] %}
	{% set cell_location = locdet['id']+'-'+rack_id %}
	{% set image_link = locdet['id'] +"/"+ rack_num %}
{% endif %}
<br/>
<!-- Text -->
<div class="container infoContainer">
	<div class="row topRow">
	  	<div class="col-sm col-md-2">
			<a href="{{ url_for('home_page')}}" 
        class="btn btn-success btn-lg" tabindex="-1" role="button" aria-disabled="true"><i class="fa-solid fa-chevron-left"></i>Back</a>
	  	</div>
		<div id="locationName" class="col-sm col-md-5">
			<h3 class="mb-1">{{ locdet["name"] }}
			<!-- if the location has specific racks for each table, we want to display the rack id -->
			{% if rack_id != none and (locdet["tableSize"][0] != 0 and locdet["tableSize"][2] != 0) %}
				- Rack {{ rack_num }}
			{% endif %}
			</h3>
	  	</div>

		<div class="col">
			<img class="" src="/static/images/{{ image_link }}.png" height="140" alt="ReferenceMap">
	  	</div>
		<!-- <div class="col">
			<img class="" src="/static/images/DIS2/01.png" height="140" alt="ReferenceMap">
	  	</div> -->
	</div>
	{% if locdet['tableType'] == "3d" %}
		<div class="row">
			<div class="col col-4">
				<div class="dropdown">
					<button class="btn btn-success btn-lg dropdown-toggle" type="button" id="rackSelectButton" data-bs-toggle="dropdown" aria-expanded="false">
						Select a Rack
					</button>
					<ul class="dropdown-menu dropdown-large border" aria-labelledby="rackSelectButton" id="rackSelect">
						{% for n in range(locdet["tableSize"][0]) %}
							<li><a class="dropdown-item border" href="{{ url_for('location_page', location_id=locdet['id'], rack_id = loop.index )}}">Rack {{ loop.index }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	{% else %}
	<div id="spacing">
	</div>
	{% endif %}
	<div class="row">
		<div class="col">
			<!-- Time Updated -->
			<h6 class="text-muted mt-1">
				Last Updated: 
				<li class="list-inline-item">
					<div id="updatedTime"></div>
				</li>
			</h6>
		</div>
	</div>
</div>

<div class="d-flex justify-content-center">
	<div id="loader" class="visually-hidden"></div>
</div>
<div id="hideContent">
<!-- If no table to diplay -->
{% if not (locdet["tableSize"][0] == 0 and locdet["tableSize"][2] == 0) or loc_id  == 'PHS1' %}

	<!-- Legend: -->
	<div class="container">
		<div class="row" id="legendDisplay">
		
		</div>
	</div>
	<!-- set the rack add var to 0 as initialization -->
	{% set rack_add = 0 %}
	<!-- set the id of the table -->
	{% set table_num = "cellTable1" %}
	<!-- Table(s) -->
	<!-- unique table generation for potato packhouse 1 table map -->
	{% if loc_id  == 'PHS1' %}
		{{ PHS1Table() }}
	{% elif loc_id  == 'PLT' %}
		{% set locs1 = [] %}
		{{ locs1.append(['01-C','02-C','03-C','04-C','05-C','06-C','07-C','08-C','09-C','10-C']) }}
		{{ locs1.append(['01-D','02-D','03-D','04-D','05-D','06-D','07-D','08-D','09-D','10-D']) }}
		{{ locs1.append(['01-E','02-E','03-E','04-E','05-E','06-E','07-E','08-E','09-E','10-E']) }}
		{{ locs1.append(['01-F','02-F','03-F','04-F','05-F','06-F','07-F','08-F','09-F','10-F']) }}
		{{ locs1.append(['01-G','02-G','03-G','04-G','05-G','06-G','07-G','08-G','09-G','10-G']) }}
		{{ locs1.append(['01-H','02-H','03-H','04-H','05-H','06-H','07-H','08-H','09-H','10-H']) }}
		{{ locs1.append(['01-I','02-I','03-I','04-I','05-I','06-I','07-I','08-I','09-I','10-I']) }}
		{% set locs2 = [] %}
		{{ locs2.append(['01-J','02-J','03-J','04-J','05-J','06-J','07-J','08-J','09-J']) }}
		{{ locs2.append(['01-K','02-K','03-K','04-K','05-K','06-K','07-K','08-K','09-K']) }}
		{{ locs2.append(['01-L','02-L','03-L','04-L','05-L','06-L','07-L','08-L','09-L','10-L']) }}
		{{ locs2.append(['01-M','02-M','03-M','04-M','05-M','06-M','07-M','08-M','09-M','10-M']) }}
		{{ PLTTable(locs1, locs2) }}
	<!-- if the table is 2d -->
	{% elif locdet["tableType"] == "2d" %}
		<!-- if the locations are specifically these ones, render out one table only as these are unique versions of the 2d tables -->
		{% if loc_id == 'FVFR5' or loc_id  == 'D1' or loc_id == 'CS1P' or loc_id == 'CS2P' %}
			<!-- using the table macro, we pass in details required to generate the table required -->
			{{ table(rack_id, locdet, columns, loc_id, cell_location, rack_num, alphabet, rack_add, table_num) }}
		<!-- 
			FVFR7 is laid out in a wy that 12 racks are on one side and 8 are on the other side. To match this on the display,
			the number of columns are set manually.
		-->
		{% elif loc_id == 'FVFR7' %}
			{% set columns = 12 %}
			{{ table(rack_id, locdet, columns, loc_id, cell_location, rack_num, alphabet, rack_add, table_num) }}
			<!-- this add is used to tell the next table what number to start with when making the labels and the ids of each cell -->
			{% set rack_add = columns %}
			{% set columns = 8 %}
			{% set table_num = "cellTable2" %}
			{{ table(rack_id, locdet, columns, loc_id, cell_location, rack_num, alphabet, rack_add, table_num) }}
		{% else %}
			{{ table(rack_id, locdet, columns, loc_id, cell_location, rack_num, alphabet, rack_add, table_num) }}
			{% set rack_add = columns/2 %}
			{% set table_num = "cellTable2" %}
			{{ table(rack_id, locdet, columns, loc_id, cell_location, rack_num, alphabet, rack_add, table_num) }}
		{% endif %}
	{% else %}
		{{ table(rack_id, locdet, columns, loc_id, cell_location, rack_num, alphabet, rack_add, table_num) }}
	{% endif %}

{% endif %}

<!-- Bay(s) -->
<!-- some locations will have bays in them which are locations in the storage that are seperate from the racks -->
{% if locdet["bays"]|length != 0 %}
	{% for bay in locdet["bays"] %}
		<a class="btn btn-lg btn-success" href="{{ url_for('palletInfo_page', cell_id = bay ) }}" onclick="loading();">
			<div> {{ bay }} </div>
		</a>
		<div class="mb-2"></div>
	{% endfor %}
{% endif %}
</div>

<!-- Data about location and current settings -->
<meta id="my-data" data-loc="{{ loc_id }}" data-rack="{{ rack_num }}" data-currentfilter="">

<!-- extra javascript needed being imported by this template and being inserted at end in the base.html -->
{% block extrajs %}
<script src="{{ url_for('static', filename='js/tableRefresh.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/locationsTableUpdate.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/loader.js') }}"></script>
{% endblock %}

{% endblock %}
