{% extends 'base.html' %}
{% from 'macros.html' import table %}
{% block title %} 
Location Page 
{% endblock %} 
{% block content %}
<h1>Location - {{ locdet["name"] }}</h1>
{% set rack_num = "{:02d}".format(rack_id| int)|string %}
<script>
	$(document).ready(function() {
		$("#success-alert").hide();
        getData3d("{{ locdet['short_id'] }}", "{{ rack_num }}");
        setInterval(function() {
			$("#success-alert").hide();
            getData3d("{{ locdet['short_id'] }}", "{{ rack_num }}")
			$("#success-alert").fadeTo(2000, 500).slideUp(500, function() {
      			$("#success-alert").slideUp(500);
    		});
        },60000);
    });

</script>
{% set id = locdet['id']%}
{% set loc = locdet['short_id']%}

{% if rack_id != none %}
<div class="dropdown">
	<button class="btn btn-success btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
		Select a Rack
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
		{% for n in range(locdet["tableSize"][0]) %}
			<li><a class="dropdown-item" href="{{ url_for('location_page', location_id=id, rack_id = loop.index )}}">{{ loop.index }}</a></li>
		{% endfor %}
	</ul>
</div>
<br/>

{% endif %}
{{ table(alphabet, locdet, rack_id) }}

<div class="alert alert-success" id="success-alert">
	Table refreshed!
</div>

{% endblock %}