{% extends 'base.html' %}
{% block title %} Location Page {% endblock %} 
{% block content %}

{% set rack_num = "{:02d}".format(rack_id| int)|string %}

{% if locdet["tableType"] == "2d" %}
	{% set columns = locdet["tableSize"][0] %}
	{% set loc_id = locdet["id"] %}
	{% set cell_location = locdet['id'] %}
{% else %}
	{% set columns = locdet["tableSize"][2] %}
	{% set loc_id = locdet["id"][0] + locdet["id"][-1] %}
	{% set cell_location = locdet['id']+'-'+rack_id %}
{% endif %}

<h1>Location - {{ locdet["name"] }}</h1>
<script>
	$(document).ready(function() {
		$("#success-alert").hide();
        getData("{{ loc_id }}", "{{ rack_num }}");
        setInterval(function() {
			$("#success-alert").hide();
            getData("{{ loc_id }}", "{{ rack_num }}")
			$("#success-alert").fadeTo(2000, 500).slideUp(500, function() {
      			$("#success-alert").slideUp(500);
    		});
        },60000);
    });
</script>

{% if locdet['tableType'] == "3d" %}
<div class="dropdown">
	<button class="btn btn-success btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
		Select a Rack
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
		{% for n in range(locdet["tableSize"][0]) %}
			<li><a class="dropdown-item" href="{{ url_for('location_page', location_id=locdet['id'], rack_id = loop.index )}}">{{ loop.index }}</a></li>
		{% endfor %}
	</ul>
</div>
<br/>
{% endif %}

{% set rack_num = "{:02d}".format(rack_id| int)|string %}

{% if rack_id != none %}
	<h2>Current Rack: {{ rack_num }}</h2>
{% endif %}

<table class="table table-bordered border-dark" id="cellTable">
	<thead>
		<tr class="table-primary">
			<th scope="col">#</th>
			{% for row in range(columns) %}
                {% if rack_id == none %}
                    <th scope="col" >Rack {{ loop.index }}</th>
				{% elif rack_id | int % 2 == 1 %}
					<th scope="col" >Column {{ loop.index }}</th>
				{% else %}
					<th scope="col" >Column {{ loop.revindex }}</th>
				{% endif %}
			{% endfor %}
		</tr>
	</thead>
	<tbody>
	{% for row in range(locdet["tableSize"][1]) %} 
		{% set outer_loop = loop %}
		<tr>
			<th scope="row" class="table-primary" id="row{{ outer_loop.index }}">{{ alphabet[loop.revindex] }}</th>
			{% for col in range(columns) %}
				<!-- 2D data -->
				{% if locdet['tableType'] == '2d' %}
					{% set cell_id = loc_id + "-" + "{:02d}".format(loop.index)|string + "-" + alphabet[outer_loop.revindex]  %}
					{% set cell_label =  "{:02d}".format(loop.index)|string +"-"+ alphabet[outer_loop.revindex] %}
				<!-- 3D data and odd numbered rack -->	
				{% elif rack_id | int % 2 == 1 %}
					{% set cell_id = loc_id + "-" + rack_num + "-" + alphabet[outer_loop.revindex] +"-"+ "{:02d}".format(loop.index)|string  %}
					{% set cell_label =  rack_num +"-"+ alphabet[outer_loop.revindex] +"-"+ "{:02d}".format(loop.index)|string %}
				<!-- 3D data and even numbered rack -->		
				{% else %}
					{% set cell_id = loc_id + "-" + rack_num + "-" + alphabet[outer_loop.revindex] +"-"+ "{:02d}".format(loop.revindex)|string  %}
					{% set cell_label = rack_num +"-"+ alphabet[outer_loop.revindex] +"-"+ "{:02d}".format(loop.revindex)|string %}
				{% endif %}

                {% if locdet['cellsPerBay'] == 1 %}
                    <td class="table-danger" background id="{{ cell_id }}" style="border-left: 10px solid black" style="padding-top: 20px;">
				{% elif locdet['cellsPerBay'] == 2 and loop.index % 2 == 1 %}
					<td class="table-danger" background id="{{ cell_id }}" style="border-left: 5px solid black">
				{% elif locdet['cellsPerBay'] == 3 and loop.index % 3 == 1 %}
					<td class="table-danger" background id="{{ cell_id }}" style="border-left: 5px solid black">
				{% else %}
					<td class="table-danger" background id="{{ cell_id }}">
				{% endif %}
                    <a href="{{ url_for('palletInfo_page', cell_id = cell_id, location = cell_location ) }}" class="cell-link link-dark disabled" >
                        <div>Cell {{ cell_label }}</div>
                    </a>
                </td>
			{% endfor %}
		</tr>
	{% endfor %}
	</tbody>
</table>

<div class="alert alert-success" id="success-alert">
	Table refreshed!
</div>

{% endblock %}