{% macro table(rack_id, locdet, columns, loc_id, cell_location, rack_num, alphabet, rack_add, table_num ) %}

{% if locdet["tableType"] == "2d" %}
    {% set tableRange = (columns/2)|int %}
{% else %}
    {% set tableRange = columns %}
{% endif %}

<div class="table table-responsive">
    <table class="table table-bordered border-dark cellTable" id="{{ table_num }}">
    <thead>
        <tr class="table-primary">
            <th scope="col">#</th>
            {% for row in range(tableRange) %}
                {% if rack_id == none %}
                    <th scope="col">Rack {{ "{:02d}".format((loop.index + rack_add)|int) }}</th>
                {% elif rack_id | int % 2 == 1 %}
                    <th scope="col" class="text-center">Cell {{ "{:02d}".format((loop.index + rack_add)|int) }}</th>
                {% else %}
                    <th scope="col" class="text-center">Cell {{ "{:02d}".format((loop.revindex + rack_add)|int) }} </th>
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in range(locdet["tableSize"][1]) %} 
            {% set outer_loop = loop %}
            <tr>
                <th scope="row" class="table-primary" id="row{{ outer_loop.index }}">{{ alphabet[loop.revindex] }}</th>
                {% for col in range(tableRange) %}
                    <!-- 2D data -->
                    {% if locdet['tableType'] == '2d' %}
                        {% set cell_id = loc_id + "-" + "{:02d}".format((loop.index + rack_add)|int)|string + "-" + alphabet[outer_loop.revindex]  %}
                        {% set cell_label = "{:02d}".format((loop.index + rack_add)|int)|string +"-"+ alphabet[outer_loop.revindex] %}
                    <!-- 3D data and odd numbered rack -->	
                    {% elif rack_id | int % 2 == 1 %}
                        {% set cell_id = loc_id + "-" + rack_num + "-" + alphabet[outer_loop.revindex] +"-"+ "{:02d}".format((loop.index + rack_add)|int)|string  %}
                        {% set cell_label =  rack_num +"-"+ alphabet[outer_loop.revindex] +"-"+ "{:02d}".format((loop.index + rack_add|int))|string %}
                    <!-- 3D data and even numbered rack -->		
                    {% else %}
                        {% set cell_id = loc_id + "-" + rack_num + "-" + alphabet[outer_loop.revindex] +"-"+ "{:02d}".format((loop.revindex + rack_add|int))|string  %}
                        {% set cell_label = rack_num +"-"+ alphabet[outer_loop.revindex] +"-"+ "{:02d}".format((loop.revindex + rack_add)|int)|string %}
                    {% endif %}
    
                    {% if loop.index % locdet['cellsPerBay'] == 1 or locdet['cellsPerBay'] == 1 %}
                        <td class="" background id="{{ cell_id }}" style="border-left: 5px solid black;">
                    {% else %}
                        <td class="" background id="{{ cell_id }}">
                    {% endif %}
                        <a href="{{ url_for('palletInfo_page', cell_id = cell_id, location = cell_location ) }}" class="cell-link link-dark disabled" >
                            <div onclick="loading();"> {{ cell_label }} </div>
                        </a>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endmacro %}