
{# table macro for generating any of the tables required that show locations #}
{% macro table(rack_id, locdet, columns, loc_id, cell_location, rack_num, alphabet, rack_add, table_num ) %}

{# check to see what type of display these tables will be #}
{# if we are displaying 2 tables, the column length needs to be halved
    as the column length is the ammount of racks present in the location
    so each table will be half the total racks
 #}
{% if locdet["tableType"] == "2d" %}
    {# these are locations that are 2d in a data sense, but still only need one table #}
    {% if loc_id == "FVFR5" or loc_id == "FVFR7" or loc_id == "D1" or loc_id == 'CS1P' or loc_id == 'CS2P' %}
        {% set tableRange = columns %}
    {# these are 2d locations that need 2 tables #}
    {% else %}
        {% set tableRange = (columns/2)|int %}
    {% endif %}
{# these are 3d locations a=that only need 1 table on screen at a time #}
{% else %}
    {% set tableRange = columns %}
{% endif %}

<div class="table table-responsive">
    <table class="table table-bordered border-dark cellTable" id="{{ table_num }}">
    <thead>
        <tr class="table-primary">
            <th scope="col">#</th>
            {# first row of the table being made with titles of the each of the columns #}
            {% for row in range(tableRange) %}
                {# the one table needed for this location needs to have the locations displayed in reverse due to its rotation #}
                {% if loc_id == 'FVFR5' %}
                    <th scope="col" class="text-center">Rack {{ "{:02d}".format((loop.revindex + rack_add)|int) }} </th>
                {# if there is no rack_id present, it means we are dealing with a 2d location #}
                {% elif rack_id == none %}
                    <th scope="col" class="text-center">{% if "CS" not in loc_id %}Rack{% endif %} {{ "{:02d}".format((loop.index + rack_add)|int) }}</th>
                {# if the location has a rack_id its for a 3d table display. depending on the number of the rack will affect the way the table will display
                    the correct perspective. Any odd racks will be displayed normally.
                 #}
                {% elif rack_id | int % 2 == 1 %}
                    <th scope="col" class="text-center">Cell {{ "{:02d}".format((loop.index + rack_add)|int) }}</th>
                {% else %}
                    {# whereas even racks will have the last cell to the left, so that the loop needs to be reversed #}
                    <th scope="col" class="text-center">Cell {{ "{:02d}".format((loop.revindex + rack_add)|int) }} </th>
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {# Building the contents of the table inside the body #}
        {# this first row loops throigh each of the rows being built #}
        {% for row in range(locdet["tableSize"][1]) %} 
            {# we want to track what loop we are on to help build the table #}
            {% set outer_loop = loop %}
            <tr>
                {# depending what number we get will determine the letter used for each cell in the row based on the postion of the letter in the alpahbet passed in #}
                <th scope="row" class="table-primary" id="row{{ outer_loop.index }}">{{ alphabet[loop.revindex] }}</th>
                {# this loop goes through each of the cells in a row #}
                {% for col in range(tableRange) %}
                    <!-- 2D data -->
                    {# how the data is formatted is based on if it is 2d or 3d. 2d data is concerned with rack and shelf. 3d data is concerened with rack, shelf and depth #}
                    {% if locdet['tableType'] == '2d' %}
                        {# since this location needs to be in reverse, the data needs to be made in reverse too #}
                        {% if loc_id == 'FVFR5' %}
    	                    {# first we are setting the cell id to be used for searching the data received. this value is searched in the 
                                get_pallets_by_location query function values.
                                The id is built by combining the location id (FVFR1), the rack it is on (01) Note: in this case since the last rack want to be displayed
                                at the left of the table or start column loop in the row, we get the reverse of the loop index. its converted to int to allow the values be added
                                and formatted in the format "00". Finally its converted to string for string concatting. The reverse of the outer loop value is gotten so that we 
                                can get the letter for the row we're on.
                            #}
                            {% set cell_id = loc_id + "-" + "{:02d}".format((loop.revindex + rack_add)|int)|string + "-" + alphabet[outer_loop.revindex]  %}
                            {# next we make the label of the cell. This label is what we see displayed on the screen. We dont need all the location id in the cell as it causes
                                the table to look very congested.
                            #}
                            {% set cell_label = "{:02d}".format((loop.revindex + rack_add)|int)|string +"-"+ alphabet[outer_loop.revindex] %}

                        {% else %}
                            {# same concepts as previous sets but this time the loop values are used in proper order  #}
                            {% set cell_id = loc_id + "-" + "{:02d}".format((loop.index + rack_add)|int)|string + "-" + alphabet[outer_loop.revindex]  %}
                            {% set cell_label = "{:02d}".format((loop.index + rack_add)|int)|string +"-"+ alphabet[outer_loop.revindex] %}
                        {% endif %}
                    <!-- 3D data and odd numbered rack -->	
                    {% elif rack_id | int % 2 == 1 %}
                        {% set cell_id = loc_id + "-" + rack_num + "-" + alphabet[outer_loop.revindex] +"-"+ "{:02d}".format((loop.index + rack_add)|int)|string  %}
                        {% set cell_label =  rack_num +"-"+ alphabet[outer_loop.revindex] +"-"+ "{:02d}".format((loop.index + rack_add|int))|string %}
                    <!-- 3D data and even numbered rack -->		
                    {% else %}
                        {% set cell_id = loc_id + "-" + rack_num + "-" + alphabet[outer_loop.revindex] +"-"+ "{:02d}".format((loop.revindex + rack_add|int))|string  %}
                        {% set cell_label = rack_num +"-"+ alphabet[outer_loop.revindex] +"-"+ "{:02d}".format((loop.revindex + rack_add)|int)|string %}
                    {% endif %}
    
                    {% if loop.index % locdet['cellsPerBay'] == 1 or locdet['cellsPerBay'] == 1 %}
                        <td class="" background id="{{ cell_id }}" style="border-left: 5px solid black;">
                    {% else %}
                        <td class="" background id="{{ cell_id }}">
                    {% endif %}
                        <a href="{{ url_for('palletInfo_page', cell_id = cell_id ) }}" class="cell-link link-dark disabled" onclick="loading();">
                            <div> {{ cell_label }} </div>
                            <div class="pt-0"></div>
                        </a>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endmacro %}

{% macro map() %}
<svg width="100%" height="100%" viewBox="0 0 1476 882">
    <a href="{{ url_for('maploc_page', coords='140 100 676 532')}}">
        <path class="cls-1" d="M472,115c137.519,0,249,111.481,249,249S609.519,613,472,613,223,501.519,223,364,334.481,115,472,115Zm22,114A110,110,0,1,1,384,339,110,110,0,0,1,494,229Z"/>
    </a>
    <a href="{{ url_for('maploc_page',coords='1000 290 466 422')}}">
        <path class="cls-1" d="M1188.5,292c86.98,0,157.5,91.11,157.5,203.5S1275.48,699,1188.5,699,1031,607.89,1031,495.5,1101.52,292,1188.5,292Z"/>
    </a>
    <a href="{{ url_for('maploc_page',coords='870 50 236 222')}}">
        <path class="cls-2" d="M882,64h204V268H882V64Z"/>       
    </a>
    <a href="{{ url_for('location_page', location_id='DIS2', rack_id=1 )}}">
        <path id="Triangle_1" data-name="Triangle 1" class="cls-3" d="M907.5,532L1029,792H786Z"/>
    </a>
</svg>

{% endmacro %}

{# this table was made because this location this location 
 #}
{% macro PHS1Table() %}
    <table id="cellTable1" class="table text-center table-borderless">
        <tbody class="border">
            <tr>
            <th></th><th class="border">Door</th>
            <td id="PHS1-O-01" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-O-01' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> O-01 </div>
                    <div class="pt-0"></div>
                </a>
            </td>
            <td id="PHS1-O-02" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-O-02' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> O-02 </div>
                    <div class="pt-0"></div>
                </a>
            </td>
            <td id="PHS1-O-03" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-O-03' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> O-03 </div>
                    <div class="pt-0"></div>
                </a>
            </td>
            <td id="PHS1-O-04" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-O-04' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> O-04 </div>
                    <div class="pt-0"></div>
                </a>
            </td>
            <td id="PHS1-O-05" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-O-05' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> O-05 </div>
                    <div class="pt-0"></div>
                </a>
            </td>
            <th colspan="2"></th>
            </tr>
            <tr>
            <td id="PHS1-B-16" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-16' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-16 </div>
                    <div class="pt-0"></div>
                </a>
            </td></td><th colspan="8"></th>
            </tr>
            <tr>
            <td id="PHS1-B-15" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-15' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-15 </div>
                    <div class="pt-0"></div>
                </a>
            </td><th colspan="8"></th>
            </tr>
            <tr>
            <td id="PHS1-B-14" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-14' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-14 </div>
                    <div class="pt-0"></div>
                </a>
            </td><th colspan="8"></th>
            </tr>
            <tr>
            <td id="PHS1-B-13" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-13' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-13 </div>
                    <div class="pt-0"></div>
                </a>
            </td>
            <th></th>
            <td colspan="5" id="PHS1-M-10" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-M-10' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> M-10 </div>
                    <div class="pt-0"></div>
                </a>
            </td><th></th><td id="PHS1-F-06" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-F-06' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> F-06 </div>
                    <div class="pt-0"></div>
                </a>
            </td>
            </tr>
            <tr>
            <td id="PHS1-B-12" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-12' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-12 </div>
                    <div class="pt-0"></div>
                </a>
            </td><th></th>
            <td colspan="5" id="PHS1-M-09" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-M-09' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> M-09 </div>
                    <div class="pt-0"></div>
                </a>
            </td><th></th>
            <td id="PHS1-F-05" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-F-05' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> F-05 </div>
                    <div class="pt-0"></div>
                </a>
            </td>
            </tr>
            <tr>
            <td id="PHS1-B-11" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-11' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-11 </div>
                    <div class="pt-0"></div>
                </a>
            </td><th></th>
            <td colspan="5" id="PHS1-M-08" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-M-08' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> M-08 </div>
                    <div class="pt-0"></div>
                </a>
            </td><th></th><td id="PHS1-F-04" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-F-04' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> F-04 </div>
                    <div class="pt-0"></div>
                </a>
            </td>
            </tr>
            <tr>
            <td id="PHS1-B-10" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-10' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-10 </div>
                    <div class="pt-0"></div>
                </a>
            </td><th></th>
            <td colspan="5" id="PHS1-M-07" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-M-07' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> M-07 </div>
                    <div class="pt-0"></div>
                </a>
            </td><th></th>
            <td colspan="5" id="PHS1-F-03" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-F-03' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> F-03 </div>
                    <div class="pt-0"></div>
                </a>
            </td>
            </tr>
            <tr>
            <td id="PHS1-B-09" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-09' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-09 </div>
                    <div class="pt-0"></div>
                </a>
            </td><th></th>
            <td colspan="5" id="PHS1-M-06" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-M-06' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> M-06 </div>
                    <div class="pt-0"></div>
                </a>
            </td><th></th>
            <td id="PHS1-F-02" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-F-02' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> F-02 </div>
                    <div class="pt-0"></div>
                </a>
            </td>
            </tr>
            <tr>
            <td id="PHS1-B-08" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-08' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-08 </div>
                    <div class="pt-0"></div>
                </a>
            </td><th></th>
            <td colspan="5" id="PHS1-M-05" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-M-05' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> M-05 </div>
                    <div class="pt-0"></div>
                </a>
            </td><th></th>
            <td id="PHS1-F-01" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-F-01' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> F-01 </div>
                    <div class="pt-0"></div>
                </a>
            </td>
            </tr>
            <tr>
            <td id="PHS1-B-07" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-07' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-07 </div>
                    <div class="pt-0"></div>
                </a>
            </td><th></th>
            <td colspan="5" id="PHS1-M-04" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-M-04' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> M-04 </div>
                    <div class="pt-0"></div>
                </a>
            </td><th></th>
            </tr>
            <tr>
            <td id="PHS1-B-06" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-06' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-06 </div>
                    <div class="pt-0"></div>
                </a>
            </td><th></th>
            <td colspan="5" id="PHS1-M-03" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-M-03' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> M-03 </div>
                    <div class="pt-0"></div>
                </a>
            </td><th colspan="2"></th>
            </tr>
            <tr>
            <td id="PHS1-B-05" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-05' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-05 </div>
                    <div class="pt-0"></div>
                </a>
            </td><th></th>
            <td colspan="5" id="PHS1-M-02" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-M-02' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> M-02 </div>
                    <div class="pt-0"></div>
                </a>
            </td><th colspan="2"></th>
            </tr>
            <tr>
            <td id="PHS1-B-04" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-04' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-04 </div>
                    <div class="pt-0"></div>
                </a>
            </td><th></th>
            <td colspan="5" id="PHS1-M-01" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-M-01' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> M-01 </div>
                    <div class="pt-0"></div>
                </a>
            </td><th colspan="2"></th>
            </tr>
            <tr>
            <td id="PHS1-B-03" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-03' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-03 </div>
                    <div class="pt-0"></div>
                </a>
            </td><th colspan="8"></th>
            </tr>
            <tr>
            <td id="PHS1-B-02" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-02' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-02 </div>
                    <div class="pt-0"></div>
                </a>
            </td><th colspan="8"></th>
            </tr>
            <tr>
            <td id="PHS1-B-01" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-01' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-01 </div>
                    <div class="pt-0"></div>
                </a>
            </td>
            <th colspan="8"></th>
            </tr>
            <tr>
            <th></th><th class="border">Door</th><th colspan="5"><th class="border">Door</th><th></th>
            </tr>
        </tbody>
        </table>
{% endmacro %}

{% macro PLTTable(locs1, locs2) %}
    {% set locs1 = [['01-C','02-C','03-C','04-C','05-C','06-C','07-C','08-C','09-C','10-C'],
        ['01-D','02-D','03-D','04-D','05-D','06-D','07-D','08-D','09-D','10-D'],
        ['01-E','02-E','03-E','04-E','05-E','06-E','07-E','08-E','09-E','10-E'],
        ['01-F','02-F','03-F','04-F','05-F','06-F','07-F','08-F','09-F','10-F'],
        ['01-G','02-G','03-G','04-G','05-G','06-G','07-G','08-G','09-G','10-G'],
        ['01-H','02-H','03-H','04-H','05-H','06-H','07-H','08-H','09-H','10-H'],
        ['01-I','02-I','03-I','04-I','05-I','06-I','07-I','08-I','09-I','10-I']
    ]%}
    {% set locs2 = [['01-J','02-J','03-J','04-J','05-J','06-J','07-J','08-J','09-J'],
        ['01-K','02-K','03-K','04-K','05-K','06-K','07-K','08-K','09-K'],
        ['01-L','02-L','03-L','04-L','05-L','06-L','07-L','08-L','09-L','10-L'],
        ['01-M','02-M','03-M','04-M','05-M','06-M','07-M','08-M','09-M','10-M']
    ]%}
    <table id="cellTable1" class="table text-center table-borderless">
        <tbody class="border">
            <tr class="border">
                <th>Line 1</th><th>Line 2</th><th>Line 3</th><th>Line 4</th><th>Line 5</th><th>Line 6</th><th>Line 7</th><th>Line 8</th><th>Line 9</th><th>Line 10</th>
            </tr>
            <tr>
                <td id="PLT-01-A" class="border table-hover">
                    <a href="{{ url_for('palletInfo_page', cell_id = 'PLT-01-A' ) }}" class="cell-link link-dark" onclick="loading();">
                        <div> 01-A </div>
                        <div class="pt-0"></div>
                    </a>
                </td>
                <td id="PLT-02-A" class="border table-hover">
                    <a href="{{ url_for('palletInfo_page', cell_id = 'PLT-02-A' ) }}" class="cell-link link-dark" onclick="loading();">
                        <div> 02-A </div>
                        <div class="pt-0"></div>
                    </a>
                </td>
                <td id="PLT-03-A" class="border table-hover">
                    <a href="{{ url_for('palletInfo_page', cell_id = 'PLT-03-A' ) }}" class="cell-link link-dark" onclick="loading();">
                        <div> 03-A </div>
                        <div class="pt-0"></div>
                    </a>
                </td>
                <th colspan="7"><h2>Fridge Unit</h2></th>
            </tr>
            <tr>
                <td id="PLT-01-B" class="border table-hover">
                    <a href="{{ url_for('palletInfo_page', cell_id = 'PLT-01-B' ) }}" class="cell-link link-dark" onclick="loading();">
                        <div> 01-B </div>
                        <div class="pt-0"></div>
                    </a>
                </td>
                <td id="PLT-02-B" class="border table-hover">
                    <a href="{{ url_for('palletInfo_page', cell_id = 'PLT-02-B' ) }}" class="cell-link link-dark" onclick="loading();">
                        <div> 02-B </div>
                        <div class="pt-0"></div>
                    </a>
                </td>
                <td id="PLT-03-B" class="border table-hover">
                    <a href="{{ url_for('palletInfo_page', cell_id = 'PLT-03-B' ) }}" class="cell-link link-dark" onclick="loading();">
                        <div> 03-B </div>
                        <div class="pt-0"></div>
                    </a>
                </td>
            </tr>
            {% for row in locs1 %}
                
                <tr>
                    {% for cell in row %}
                        {% set cell_id = "PLT-" + cell %}
                        <td id="{{cell_id}}" class="border table-hover">
                            <a href="{{ url_for('palletInfo_page', cell_id = cell_id ) }}" class="cell-link link-dark" onclick="loading();">
                                <div> {{cell}} </div>
                                <div class="pt-0"></div>
                            </a>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
                <th colspan="10" height="80"></th>
            </tr>
            {% for row in locs2 %}
                <tr>
                    {% for cell in row %}
                        {% set cell_count = loop.length %}
                        {% set cell_id = "PLT-" + cell %}
                        <td id="{{cell_id}}" class="border table-hover">
                            <a href="{{ url_for('palletInfo_page', cell_id = cell_id ) }}" class="cell-link link-dark" onclick="loading();">
                                <div> {{cell}} </div>
                                <div class="pt-0"></div>
                            </a>
                        </td>
                    {% endfor %}
                {% if loop.index == 1 %}
                    <th class="border-top"> Door </th>
                {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}