{% macro table(rack_id, locdet, columns, loc_id, cell_location, rack_num, alphabet, rack_add, table_num ) %}

{% if locdet["tableType"] == "2d" %}
    {% if loc_id == "FVFR5" or loc_id == "FVFR7" or loc_id == "DIS1" %}
        {% set tableRange = columns %}
    {% else %}
        {% set tableRange = (columns/2)|int %}
    {% endif %}
{% else %}
    {% set tableRange = columns %}
{% endif %}

<div class="table table-responsive">
    <table class="table table-bordered border-dark cellTable" id="{{ table_num }}">
    <thead>
        <tr class="table-primary">
            <th scope="col">#</th>
            {% for row in range(tableRange) %}
                {% if loc_id == 'FVFR5' %}
                    <th scope="col" class="text-center">Rack {{ "{:02d}".format((loop.revindex + rack_add)|int) }} </th>
                {% elif rack_id == none %}
                    <th scope="col" class="text-center">Rack {{ "{:02d}".format((loop.index + rack_add)|int) }}</th>
                {% elif rack_id | int % 2 == 1 %}
                    <th scope="col" class="text-center">Cell {{ "{:02d}".format((loop.index + rack_add)|int) }}</th>
                {% else %}
                    <th scope="col" class="text-center">Cell {{ "{:02d}".format((loop.revindex + rack_add)|int) }} </th>
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in range(locdet["tableSize"][1]) %} 
            {% set outer_loop = loop %}
            <tr>
                <th scope="row" class="table-primary" id="row{{ outer_loop.index }}">{{ alphabet[loop.revindex] }}</th>
                {% for col in range(tableRange) %}
                    <!-- 2D data -->
                    {% if locdet['tableType'] == '2d' %}
                        {% if loc_id == 'FVFR5' %}

                            {% set cell_id = loc_id + "-" + "{:02d}".format((loop.revindex + rack_add)|int)|string + "-" + alphabet[outer_loop.revindex]  %}
                            {% set cell_label = "{:02d}".format((loop.revindex + rack_add)|int)|string +"-"+ alphabet[outer_loop.revindex] %}


                        {% else %}
                            {% set cell_id = loc_id + "-" + "{:02d}".format((loop.index + rack_add)|int)|string + "-" + alphabet[outer_loop.revindex]  %}
                            {% set cell_label = "{:02d}".format((loop.index + rack_add)|int)|string +"-"+ alphabet[outer_loop.revindex] %}
                        {% endif %}
                    <!-- 3D data and odd numbered rack -->	
                    {% elif rack_id | int % 2 == 1 %}
                        {% set cell_id = loc_id + "-" + rack_num + "-" + alphabet[outer_loop.revindex] +"-"+ "{:02d}".format((loop.index + rack_add)|int)|string  %}
                        {% set cell_label =  rack_num +"-"+ alphabet[outer_loop.revindex] +"-"+ "{:02d}".format((loop.index + rack_add|int))|string %}
                    <!-- 3D data and even numbered rack -->		
                    {% else %}
                        {% set cell_id = loc_id + "-" + rack_num + "-" + alphabet[outer_loop.revindex] +"-"+ "{:02d}".format((loop.revindex + rack_add|int))|string  %}
                        {% set cell_label = rack_num +"-"+ alphabet[outer_loop.revindex] +"-"+ "{:02d}".format((loop.revindex + rack_add)|int)|string %}
                    {% endif %}
    
                    {% if loop.index % locdet['cellsPerBay'] == 1 or locdet['cellsPerBay'] == 1 %}
                        <td class="" background id="{{ cell_id }}" style="border-left: 5px solid black;">
                    {% else %}
                        <td class="" background id="{{ cell_id }}">
                    {% endif %}
                        <a href="{{ url_for('palletInfo_page', cell_id = cell_id ) }}" class="cell-link link-dark disabled" onclick="loading();">
                            <div> {{ cell_label }} </div>
                        </a>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endmacro %}

{% macro map() %}
<svg width="100%" height="100%" viewBox="0 0 1476 882">
    <a href="{{ url_for('maploc_page', coords='140 100 676 532')}}">
        <path class="cls-1" d="M472,115c137.519,0,249,111.481,249,249S609.519,613,472,613,223,501.519,223,364,334.481,115,472,115Zm22,114A110,110,0,1,1,384,339,110,110,0,0,1,494,229Z"/>
    </a>
    <a href="{{ url_for('maploc_page',coords='1000 290 466 422')}}">
        <path class="cls-1" d="M1188.5,292c86.98,0,157.5,91.11,157.5,203.5S1275.48,699,1188.5,699,1031,607.89,1031,495.5,1101.52,292,1188.5,292Z"/>
    </a>
    <a href="{{ url_for('maploc_page',coords='870 50 236 222')}}">
        <path class="cls-2" d="M882,64h204V268H882V64Z"/>       
    </a>
    <a href="{{ url_for('location_page', location_id='DIS2', rack_id=1 )}}">
        <path id="Triangle_1" data-name="Triangle 1" class="cls-3" d="M907.5,532L1029,792H786Z"/>
    </a>
</svg>

{% endmacro %}

{% macro PHS1Table() %}
    <table id="cellTable1" class="table text-center table-borderless">
        <tbody class="border">
            <tr>
            <th></th><th class="border">Door</th>
            <td id="PHS1-O-01" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-O-01' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> O-01 </div>
                </a>
            </td>
            <td id="PHS1-O-02" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-O-02' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> O-02 </div>
                </a>
            </td>
            <td id="PHS1-O-03" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-O-03' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> O-03 </div>
                </a>
            </td>
            <td id="PHS1-O-04" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-O-04' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> O-04 </div>
                </a>
            </td>
            <td id="PHS1-O-05" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-O-05' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> O-05 </div>
                </a>
            </td>
            <th colspan="2"></th>
            </tr>
            <tr>
            <td id="PHS1-B-16" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-16' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-16 </div>
                </a>
            </td></td><th colspan="8"></th>
            </tr>
            <tr>
            <td id="PHS1-B-15" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-15' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-15 </div>
                </a>
            </td><th colspan="8"></th>
            </tr>
            <tr>
            <td id="PHS1-B-14" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-14' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-14 </div>
                </a>
            </td><th colspan="8"></th>
            </tr>
            <tr>
            <td id="PHS1-B-13" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-13' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-13 </div>
                </a>
            </td>
            <th></th>
            <td colspan="5" id="PHS1-M-10" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-M-10' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> M-10 </div>
                </a>
            </td><th></th><td id="PHS1-F-06" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-F-06' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> F-06 </div>
                </a>
            </td>
            </tr>
            <tr>
            <td id="PHS1-B-12" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-12' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-12 </div>
                </a>
            </td><th></th>
            <td colspan="5" id="PHS1-M-09" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-M-09' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> M-09 </div>
                </a>
            </td><th></th>
            <td id="PHS1-F-05" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-F-05' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> F-05 </div>
                </a>
            </td>
            </tr>
            <tr>
            <td id="PHS1-B-11" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-11' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-11 </div>
                </a>
            </td><th></th>
            <td colspan="5" id="PHS1-M-08" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-M-08' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> M-08 </div>
                </a>
            </td><th></th><td id="PHS1-F-04" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-F-04' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> F-04 </div>
                </a>
            </td>
            </tr>
            <tr>
            <td id="PHS1-B-10" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-10' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-10 </div>
                </a>
            </td><th></th>
            <td colspan="5" id="PHS1-M-07" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-M-07' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> M-07 </div>
                </a>
            </td><th></th>
            <td colspan="5" id="PHS1-F-03" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-F-03' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> F-03 </div>
                </a>
            </td>
            </tr>
            <tr>
            <td id="PHS1-B-09" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-09' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-09 </div>
                </a>
            </td><th></th>
            <td colspan="5" id="PHS1-M-06" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-M-06' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> M-06 </div>
                </a>
            </td><th></th>
            <td id="PHS1-F-02" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-F-02' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> F-02 </div>
                </a>
            </td>
            </tr>
            <tr>
            <td id="PHS1-B-08" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-08' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-08 </div>
                </a>
            </td><th></th>
            <td colspan="5" id="PHS1-M-05" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-M-05' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> M-05 </div>
                </a>
            </td><th></th>
            <td id="PHS1-F-01" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-F-01' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> F-01 </div>
                </a>
            </td>
            </tr>
            <tr>
            <td id="PHS1-B-07" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-07' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-07 </div>
                </a>
            </td><th></th>
            <td colspan="5" id="PHS1-M-04" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-M-04' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> M-04 </div>
                </a>
            </td><th></th>
            </tr>
            <tr>
            <td id="PHS1-B-06" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-06' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-06 </div>
                </a>
            </td><th></th>
            <td colspan="5" id="PHS1-M-03" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-M-03' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> M-03 </div>
                </a>
            </td><th colspan="2"></th>
            </tr>
            <tr>
            <td id="PHS1-B-05" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-05' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-05 </div>
                </a>
            </td><th></th>
            <td colspan="5" id="PHS1-M-02" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-M-02' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> M-02 </div>
                </a>
            </td><th colspan="2"></th>
            </tr>
            <tr>
            <td id="PHS1-B-04" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-04' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-04 </div>
                </a>
            </td><th></th>
            <td colspan="5" id="PHS1-M-01" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-M-01' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> M-01 </div>
                </a>
            </td><th colspan="2"></th>
            </tr>
            <tr>
            <td id="PHS1-B-03" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-03' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-03 </div>
                </a>
            </td><th colspan="8"></th>
            </tr>
            <tr>
            <td id="PHS1-B-02" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-02' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-02 </div>
                </a>
            </td><th colspan="8"></th>
            </tr>
            <tr>
            <td id="PHS1-B-01" class="border table-hover">
                <a href="{{ url_for('palletInfo_page', cell_id = 'PHS1-B-01' ) }}" class="cell-link link-dark" onclick="loading();">
                    <div> B-01 </div>
                </a>
            </td>
            <th colspan="8"></th>
            </tr>
            <tr>
            <th></th><th class="border">Door</th><th colspan="5"><th class="border">Door</th><th></th>
            </tr>
        </tbody>
        </table>
{% endmacro %}
