{% extends 'base.html' %} 
{% block title %} Search Page {% endblock %} 
{% block content %}
{% block extracss %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables/datatables.min.css') }}"/>
{% endblock %}
<h1>Search Results:</h1>
<br/>
        <a href="{{ url_for('search_page' )}}" 
        class="btn btn-success btn-lg" tabindex="-1" role="button" aria-disabled="true"><i class="fas fa-chevron-left"></i>Back</a>
    
    {% if data["pallets"] is defined and data["pallets"]|length ==  1 %}
    <h2>Location: {{data["pallets"][0]["locDescr"]}} ({{ cell_id }})</h2>
        {% for pallet in data["pallets"] %}
        <br/>
        <h3>Pallet: {{ pallet["palletId"] }}</h3>
            <table class="table table-striped table-bordered" id="palletTable">
                <tbody>
                    <tr>
                        <th scope="row">Pallet Id: </th>
                        <td>{{ pallet["palletId"] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Full Product Description: </th>
                        <td>{{ pallet["productDescr"] }} {{ pallet["spdfilMark"] }} {{ pallet["countsize"] }} - {{ pallet["variety"] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Pallet Stock:</th>
                        <td>{{ pallet["balence"] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Best before:</th>
                        {% if pallet["bestBefore"] is none %}
                            <td>N/A</td>
                        {% else %}
                            <td>{{ pallet["bestBefore"].strftime('%d-%m-%Y') }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th scope="row">Country of Origin:</th>
                        <td>{{ pallet["country"] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Job Number:</th>
                        <td>{{ pallet["jobNum"] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Supplier:</th>
                        <td>{{ pallet["supplierName"] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Purchase Order Number:</th>
                        <td>{{ pallet["ponum"] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Lot Number:</th>
                        <td>{{ pallet["lotnum"] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Narrative:</th>
                        <td>{{ pallet["narrative"] }}</td>
                    </tr>
                </tbody>
            </table> 
        {% endfor %}
        <br/>
    {% elif data["pallets"]|length > 1 %}
    <br/><br/>
    <table id="table_id" class="display palletTest">
        <thead>
            <tr>
                <th>Pallet ID</th>
                <th>Full Product Description</th>
                <th>Pallet Stock</th>
                <th>Best Before</th>
                <th>Job Number</th>
                <th>PO Number</th>
                <th>Lot Number</th>
                <th>Narrative</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for pallet in data["pallets"] %}
            <tr>
                <td>{{ pallet["palletId"] }}</td>
                <td>{{ pallet["productDescr"] }} {{ pallet["spdfilMark"] }} {{ pallet["countsize"] }} - {{ pallet["variety"] }}</td>
                <td>{{ pallet["balence"] }}</td>
                {% if pallet["bestBefore"] is none %}
                    <td>N/A</td>
                {% else %}
                    <td>{{ pallet["bestBefore"].strftime('%d-%m-%Y') }}</td>
                {% endif %}
                <td>{{ pallet["jobNum"] }}</td>
                <td>{{ pallet["ponum"] }}</td>
                <td>{{ pallet["lotnum"] }}</td>
                <td>{{ pallet["narrative"] }}</td>
                <td>{{ pallet["location"] }}</td>
            </tr>
                    
        {% endfor %}
        </tbody>
    </table>
    <br/>
    {% else %}
        <h2>No pallets found!</h2>
        <p>Press "Back" to return to search.</p>
    {% endif %}
    {% block extrajs %}
        <script type="text/javascript" src="{{ url_for('static', filename='DataTables/datatables.min.js') }}"></script>
        <script>
            
            $(document).ready( function () {
                if ( $.fn.dataTable.isDataTable( '#table_id' ) ) {
                    table = $('#table_id').DataTable();
                }
                else {
                    table = $('#table_id').DataTable( {
                        responsive: true
                    } );
                }
            } );
        </script>
    {% endblock %}
    
{% endblock %}